h1, h2, h3, h4, h5, h6 {
    font-family: 'Irma Text Light';
}
p, div {
    font-family: 'Irma Text Light';
}

body {
  padding-top: 60px; /* 60px to make the container make room for the navigation bar */
}

.editorText {	
  padding: 1em;
}

input.editorCheckbox {	
  margin: 7px;
}
select.editorDropdown {	
  margin-left: 7px;
}
button.back{
  margin: 1em;
  float:right;
}
span.brand{
  color:white;
  font-size:20px;
}
div.container,title{
margin-top:10px;
}
tr.supervised {
	text-decoration: line-through;
}
span.checkbox {
  width:275px;
}
span.input-text{
  width:120px;
}
input.form-control.js-input-text {
  width:350px;
}
a.link {
word-wrap: break-word;
}
